.centered {
  text-align: center; }

.right {
  text-align: right; }

.bottom.right {
  position: absolute;
  bottom: 0;
  right: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 300; }

h1 {
  font-weight: 500;
  font-size: 5rem;
  color: #72c9e1; }

h2 {
  font-size: 3rem;
  color: #ce3c2f; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

p {
  font-size: 1.6rem; }

* {
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: transat, sans-serif;
  scroll-behavior: smooth;
  font-size: 10px; }
  @media screen and (min-width: 1440px) {
    * {
      font-size: 10px; } }
  @media screen and (min-width: 1622px) {
    * {
      font-size: 11px; } }
  @media screen and (min-width: 2000px) {
    * {
      font-size: 14px; } }

body {
  width: 100%; }

a {
  font-size: inherit;
  text-decoration: none; }
  a:hover {
    color: #be41fc;
    transition: all 0.2s; }

input {
  width: 100%;
  height: 5rem;
  font-size: inherit;
  color: inherit;
  box-shadow: inset 0 0 0.7rem #010101;
  border: none;
  padding: 1rem; }

textarea {
  width: 100%;
  font-size: inherit;
  color: inherit;
  box-shadow: inset 0 0 0.7rem #010101;
  border: none;
  padding: 1rem; }

.nav {
  background-color: rgba(1, 1, 1, 0.5);
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 99;
  padding-left: 16rem; }
  .nav-item {
    margin: 1rem 0; }
  .nav-list {
    list-style-type: none; }
    .nav-list-item {
      float: left;
      padding: 0 2rem; }
      .nav-list-item a {
        font-size: 3rem; }

#nav-logo h1 {
  font-size: 3.5rem;
  font-family: modesto-open-inline-fill, sans-serif;
  font-weight: 100;
  color: #be41fc; }

#github-logo {
  width: 5rem; }

.section {
  background-color: #010101;
  position: relative;
  min-height: 100vh; }

.about_wrapper {
  width: 100%;
  text-align: center;
  padding-top: 10rem; }
  @media screen and (min-width: 1440px) {
    .about_wrapper-left {
      position: absolute;
      top: 0;
      left: 0;
      margin: 15rem;
      display: flex;
      align-items: flex-start;
      text-align: left; } }
  @media screen and (min-width: 1440px) {
    .about_wrapper-right {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 15rem;
      display: flex;
      align-items: flex-end;
      text-align: right; } }

#danimal_mic-img {
  height: 100vh;
  display: none; }
  @media screen and (min-width: 1100px) {
    #danimal_mic-img {
      display: block; } }

.contact_wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  z-index: 1; }

#portfolio_heading {
  padding-top: 15rem;
  text-align: center; }

#intro-block {
  position: absolute;
  top: 50%;
  left: 15rem;
  transform: translate(0%, -50%);
  z-index: 1; }

#danimal-img {
  display: none; }
  @media screen and (min-width: 1100px) {
    #danimal-img {
      display: block;
      width: 50rem;
      position: absolute;
      right: 15rem;
      top: 50%;
      transform: translate(0, -50%); } }

.text_block {
  width: 50rem;
  margin: auto; }
  @media screen and (min-width: 1100px) {
    .text_block {
      margin: 0 2rem; } }
  .text_block-img {
    border: 0.5rem white solid;
    width: 40rem; }
  .text_block-heading {
    margin-bottom: 2rem; }
  .text_block-subheading {
    margin-bottom: 1rem; }
  .text_block-copy {
    font-size: 2rem;
    line-height: 3rem; }

.latest_work-heading {
  font-size: 2.5rem; }

.latest_work-list {
  display: flex;
  align-items: center;
  justify-content: center; }
  .latest_work-list-item {
    width: 20rem;
    height: 15rem;
    background-color: #5e99a9;
    margin: 0.5rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative; }
    .latest_work-list-item:hover {
      border: 0.3rem #971c0b solid;
      transition: all 0.2s; }
    .latest_work-list-item-title {
      position: absolute;
      left: 0.5rem;
      bottom: 0.2rem; }

.project_grid {
  padding: 0 15rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap; }

.project_card {
  width: 25rem;
  height: 25rem;
  flex: 0 1 auto;
  max-height: 384px;
  background-color: #5e99a9;
  position: relative; }
  .project_card:hover {
    border: 0.3rem #971c0b solid;
    transition: all 0.2s; }
  .project_card img {
    width: 100%;
    height: 100%; }
  .project_card-title {
    font-weight: 600;
    margin-bottom: 0.8rem; }
    .project_card-title_bar {
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 1.2rem 0.5rem;
      background: linear-gradient(169deg, rgba(1, 1, 1, 0.8), rgba(1, 1, 1, 0.1)); }

.contact_form {
  padding-top: 15rem;
  width: 40rem; }
  .contact_form-heading {
    text-align: center;
    margin-bottom: 4rem; }
  .contact_form-field {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #010101; }
    .contact_form-field p {
      font-size: 2rem; }
  .contact_form-btn {
    background-color: #006a8b;
    border: 2px #006a8b solid;
    font-size: 2rem;
    padding: 1.5rem 4rem;
    font-family: modesto-open-inline-fill, sans-serif;
    float: right; }
    .contact_form-btn:hover {
      background-color: rgba(0, 106, 139, 0); }
