.nav {
  background-color: rgba(128, 128, 128, 0.4);
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .nav-item {
    height: 35px; }
  .nav-list {
    list-style-type: none; }
    .nav-list-item {
      float: left; }

#nav-links {
  float: right; }
