.about_wrapper {
	width: 100%;
	text-align: center;
	padding-top: 10rem;

	&-left {
		@include tablet_landscape {
			position: absolute;
			top: 0;
			left: 0;
			margin: $gutter;

			display: flex;
			align-items: flex-start;
			text-align: left;
		}
	}

	&-right {
		@include tablet_landscape {
			position: absolute;
			bottom: 0;
			right: 0;
			margin: $gutter;

			display: flex;
			align-items: flex-end;
			text-align: right;
		}
	}
}
