.nav {
	background-color: rgba($color: $black, $alpha: 0.5);
	position: fixed;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 99;

	&-item {
		margin: 1rem 0;
	}

	&-list {
		list-style-type: none;

		&-item {
			float: left;
			padding: 0 2rem;

			a {
				font-size: 3rem;

				&:hover {
					color: $logo-color;
					transition: all 0.2s;
				}
			}
		}
	}
}

#nav-logo {
	h1 {
		font-size: 3.5rem;
		font-family: $logo-font;
		font-weight: 100;
		color: $logo-color;
	}
}

#github-logo {
	width: 5rem;
}
