.section {
	height: 100vh;
	background-color: $black;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;

	&_div {
		overflow: visible;
	}
}

#danimal-img {
	width: 60rem;
}

#danimal_mic-img {
	height: 100vh;
}

#portfolio_heading {
	position: absolute;
	top: 10rem;
}
