.section {
	height: 100vh;
	background-color: $black;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	position: relative;

	&-div {
		overflow: visible;
	}
}

#danimal-img {
	width: 60rem;
}
