.centered {
  text-align: center; }

.right {
  text-align: right; }

.bottom.right {
  position: absolute;
  bottom: 0;
  right: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 300; }

h1 {
  font-weight: 500;
  font-size: 5rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

p {
  font-size: 1.6rem; }
